<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login</title>
<link href="/static/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/jquery.js"></script>
</head>
<body>
<div class="inner">
	{% include 'nav.html' %}
    <article class="wiki">
	<form method="post" action="/login_view">{% csrf_token %}
{% if invalid == 'login' %}
    <p align="left">Sorry, that's not a valid username or password</p>
{% endif %}
            Username:<br />
        	<input type="text" name="username" maxlength="30" /><br />
            Password:<br />
            <input type="password" name="password" /><br />
            <input type="submit" name="action" value="Login" /><!--<input type="submit" name="action" value="Preview" />-->
        </form>
	
	<form method="post" action="../../add_user">{% csrf_token %}
{% if invalid == 'register' %}
    <p align="left">Someone is already using this username. Please pick an other.</p>
{% elif error %}
<p> User must be set.</p>
{% endif %}
	    Username: <br />
		<input type="text" name="username" maxlength="30" /><br />
	    E-mail ID: <br />
		<input type="text" name="email" maxlength="40" /><br />
	    Password: <br />
		<input type="password" name="password" /><br />
		<input type="submit" name="register" value="Register" />
	</form>

	</form method="post">
		{% if invalid2 %}
                <p align="left">Someone is already using this username. Please pick an other.</p>
                {% endif %}
	</form>
    </article>
</div>
</body>
</html>
